<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="utf-8"></meta>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Climate Monitoring</title>
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../resources/css/dashboard.css" rel="stylesheet"/>
    
    <script src="../resources/js/jquery-2.2.3.js"></script>
    <script src="../resources/js/bootstrap.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="navBars :: topNav"></nav>

    <div class="container-fluid">
      <div class="row">
      
        <div class="col-sm-3 col-md-2 sidebar" th:replace="navBars :: sideNav"></div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        
          <h1 class="page-header">Devices Dashboard</h1>

          <h2 class="sub-header">Current Devices</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Device Name</th>
                  <th>Update Required</th>
                  <th>Update Completed</th>
                  <th>Firmware Path</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="entry : ${devices}"> 
                  <td th:text="${entry.key}"/>
                  <td th:if="${entry.value.needsUpdate} eq false">NO</td>
                  <td th:if="${entry.value.needsUpdate} eq true">YES</td>
                  <td th:if="${entry.value.updated} eq false and ${entry.value.needsUpdate} eq false">N/A</td>
                  <td th:if="${entry.value.updated} eq false and ${entry.value.needsUpdate} eq true">NO</td>
                  <td th:if="${entry.value.updated} eq true">YES</td>
                  <td th:if="${entry.value.needsUpdate} eq false">N/A</td>
                  <td th:if="${entry.value.needsUpdate} eq true" th:text="${entry.value.firmwareFilePath}"/>
                  <td><a th:href="@{/editDevice/{device}(device=${entry.key})}" class="btn btn-xs btn-success">Edit</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>