<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="utf-8"></meta>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Climate Monitoring</title>
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../resources/css/dashboard.css" rel="stylesheet"/>
    
    <script src="../resources/js/jquery-2.2.3.js"></script>
    <script src="../resources/js/bootstrap.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="navBars :: topNav"></nav>

    <div class="container-fluid">
      <div class="row">
      
        <div class="col-sm-3 col-md-2 sidebar" th:replace="navBars :: sideNav"></div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        
          <h1 class="page-header">Device Configuration</h1>

          <div class="container-fluid">
            <div th:text="${'Device name: ' + device.name}"/>
            <div th:text="${'Device ID: ' + device.id}"/>
            <div th:text="${'Update Required: ' + device.needsUpdate}"/>
            <div th:text="${'Updated: ' + device.updated}"/>
            <a th:if="${device.needsUpdate} eq false" th:href="@{/updateDeviceConfig/{device}(device=${device.name})}" class="btn btn-xs btn-success">Update Config</a>
            <form th:if="${device.needsUpdate} eq true" th:action="@{/updateDeviceConfig/{device}(device=${device.name})}" method="POST">
			  <div  th:text="${'Firmware File Path: ' + device.firmwareFilePath}"/>
			  <input type="text" name="firmwareFile"/>
			  <input type="submit" class="btn btn-xs btn-success" value="Save"/>
			</form>				
          </div>
        </div>
      </div>
    </div>
  </body>
</html>