<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="utf-8"></meta>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Photon OTA Updater</title>
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../resources/css/dashboard.css" rel="stylesheet"/>
    
    <script src="../resources/js/jquery-2.2.3.js"></script>
    <script src="../resources/js/bootstrap.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="topNav">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/devices}">Photon OTA Updater Assist</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div id="navbar" class="col-sm-3 col-md-2 sidebar" th:fragment="sideNav">
          <ul class="nav nav-sidebar">
            <li><a href="#">Configuration</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>